<div class="modal fade" id="assistantModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Welcome to Assistant Doctor</h4>
            </div>
            <div class="modal-body">
                <p>Hi, I am your Assistant Doctor! I generally calculate result depending on mechine learining algorithm 
                    You may consider me as digital Assistant or the new generation assistant.
                </p>
                <p>Hi, I am your Assistant Doctor! I generally calculate result depending on mechine learining algorithm 
                    You may consider me as digital Assistant or the new generation assistant.
                </p>
                <p>Happy browsing ..</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

